{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-5">Welcome!</h1>
        <p class="lead">You can search tracks and sort them by some algorithms. Sign-in is required.</p>
    </div>
</div>

{% endblock %}
