<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <title>Spotify Jingle Manager</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/spotify.png') }}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Spotify Jingle Manager
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if auth_url is not none %}
                <li class="nav-item">
                    <a class="btn btn-login" href="{{auth_url}}">Sign in</a>
                </li>
                {% endif %}
                {% if user is not none %}
                <li class="nav-item">
                    <b><a class="navbar-text">{{user.id}}</a></b>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">© 2017</span>
            <a href="https://gitlab.com/dstlmrk/spotify-jingle-manager" target="_blank">
                <img src="{{url_for('static', filename='img/gitlab.png') }}" width=25 alt="">
            </a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map/jquery.vmap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
