{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="#" method="post" data-action="/">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" id="track-name" placeholder="Track name" name="track-name" required>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-light btn-block" data-toggle="collapse"
                               href="#sortByParameters" aria-expanded="false"
                               aria-controls="sortByParameters">
                                Parameters for sorting
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-dark btn-block btn-form">
                                Search tracks
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="collapse multi-collapse" id="sortByParameters">

                <!-- Popularity -->
                <div class="row">
                    <div class="col-md-1 text-center">
                        <label for="active-popularity">Active</label>
                        <input type="checkbox" value="1" class="active-switcher" name="popularity_active"
                               id="active-popularity"
                               data-controls=".popularity">
                    </div>
                    <div class="col-md-9 popularity">
                        <div class="form-group">
                            <label for="popularity">Popularity</label>
                            <input type="range" class="form-control" id="popularity" name="popularity" placeholder="58" min="0"
                                   max="100">
                        </div>
                    </div>
                    <div class="col-md-2 popularity">
                        <label for="popularity_weight">Weight</label>
                        <input type="range" name="popularity_weight" id="popularity_weight" class="form-control">
                    </div>
                </div>
                <!-- End popularity -->

                <!-- artist_name -->
                <div class="row">
                    <div class="col-md-1 text-center">
                        <label for="active-artist_name">Active</label>
                        <input type="checkbox" value="1" class="active-switcher" name="artist_name_active"
                               id="active-artist_name"
                               data-controls=".artist_name">
                    </div>
                    <div class="col-md-9 artist_name">
                        <div class="form-group">
                            <label for="artist_name">Artist name</label>
                            <input type="text" class="form-control" name="artist_name" id="artist_name">
                        </div>
                    </div>
                    <div class="col-md-2 artist_name">
                        <label for="artist_name_weight">Weight</label>
                        <input type="range" name="artist_name_weight" id="artist_name_weight" class="form-control">
                    </div>
                </div>
                <!-- End artist_name -->

                <!-- Duration -->
                <div class="row">
                    <div class="col-md-1 text-center">
                        <label for="active-duration">Active</label>
                        <input type="checkbox" value="1" class="active-switcher" name="duration_active"
                               id="active-duration"
                               data-controls=".duration">
                    </div>
                    <div class="col-md-9 duration">
                        <div class="form-group">
                            <label for="duration">Track duration: <span class="duration-display"></span></label>
                            <input type="range" class="form-control" name="duration" id="duration" value="180" min="0"
                                   max="600">
                        </div>
                    </div>
                    <div class="col-md-2 duration">
                        <label for="duration_weight">Weight</label>
                        <input type="range" name="duration_weight" id="duration_weight" class="form-control">
                    </div>
                </div>
                <!-- End popularity -->

                <!-- release_date -->
                <div class="row">
                    <div class="col-md-1 text-center">
                        <label for="active-release_date">Active</label>
                        <input type="checkbox" value="1" class="active-switcher" name="release_date_active" id="active-release_date"
                               data-controls=".release_date">
                    </div>
                    <div class="col-md-9 release_date">
                        <div class="form-group">
                            <label for="release_date">Album release date</label>
                            <input type="text" name="release_date" class="datepicker form-control" id="release_date">
                        </div>
                    </div>
                    <div class="col-md-2 release_date">
                        <label for="release_date_weight">Weight</label>
                        <input type="range" name="release_date_weight" id="release_date_weight" class="form-control">
                    </div>
                </div>
                <!-- End year -->


                <div class="row">
                    <div class="col-md-1 text-center">
                        <label for="active-map">Active</label>
                        <input type="checkbox" value="1" class="active-switcher" name="map_active" id="active-map"
                               data-controls=".map">
                    </div>
                    <div class="col-md-9 map">
                        <div class="form-group">
                            <label for="vmap">Available in countries</label>
                            <div id="vmap" style="width: 100%; height: 500px;"></div>
                        </div>
                    </div>
                    <div class="col-md-2 map">
                        <label for="map_weight">Weight</label>
                        <input type="range" name="map_weight" id="map_weight" class="form-control">
                    </div>
                </div>
                <!-- End map -->
                    <hr>
                    </div>

                <!--<div class="row text-center justify-content-md-center">-->
                    <!--<div class="col-md-6">-->
                        <!--<button type="submit" {% if auth_url is not none %} disabled {% endif %}-->
                                <!--class="btn btn-primary btn-block">Vyhledat-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>
    <div class="row" id="results" hidden></div>
</div>
{% endblock %}
