<div class="col-md-6">
    <h3 class="text-center">Original</h3>
    <div id="original-content" class="result">
        <ul class="list-group">
            {% for track in original_results %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ track['album']['images'][2]['url'] }}" alt="">
                        <br><br>
                        <p class="text-center">{{ track['duration_ms']|track_duration }}</p>
                    </div>
                    <div class="col-md-10">
                        <h4 class="list-group-item-heading">{{ track['name'] }}</h4>
                        <div class="list-group-item-text">
                            <strong>Artists:</strong> {{ track['artists']|artist_name }}: {{ track['name'] }}<br>
                            <strong>Album:</strong> {{ track['album']['name'] }} <br>
                            <strong>Popularity: </strong> {{track['popularity']}} %

                            <p class="mt-3">
                                <a class="btn btn-sm btn-outline-dark" data-toggle="collapse"
                                   href="#market-{{track['id']}}"
                                   aria-expanded="false" aria-controls="market-{{track['id']}}">
                                    Market
                                </a>
                            </p>
                            <div class="collapse" id="market-{{track['id']}}">
                                <div class="card card-body">
                                    <small>
                                    {% for country in track['available_markets'] %}
                                    {{country}},
                                    {% endfor %}
                                        </small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="col-md-6">
    <h3 class="text-center">Sorted</h3>
    <div id="sorted-content" class="result">
        <ul class="list-group">
            {% for track in sorted_results %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{{ track['album']['images'][2]['url'] }}" alt="">
                        <br><br>
                        <p class="text-center">{{ track['duration_ms']|track_duration }}</p>
                        <p>Score: {{track['score']|round}}</p>
                    </div>
                    <div class="col-md-10">
                        <h4 class="list-group-item-heading">{{ track['name'] }}</h4>
                        <div class="list-group-item-text">
                            <strong>Artists:</strong> {{ track['artists']|artist_name }}: {{ track['name'] }}<br>
                            <strong>Album:</strong> {{ track['album']['name'] }} <br>
                            <strong>Popularity: </strong> {{track['popularity']}} %

                            <p class="mt-3">
                                <a class="btn btn-sm btn-outline-dark" data-toggle="collapse"
                                   href="#sorted-market-{{track['id']}}"
                                   aria-expanded="false" aria-controls="sorted-market-{{track['id']}}">
                                    Market
                                </a>
                            </p>
                            <div class="collapse" id="sorted-market-{{track['id']}}">
                                <div class="card card-body">
                                    <small>
                                    {% for country in track['available_markets'] %}
                                    {{country}},
                                    {% endfor %}
                                    </small>
                                </div>
                            </div>
                            <small class="mt-1">
                            <ul>
                                {% for attribute, score in track['evaluations'].items() %}
                                <li>{{attribute}}: {{score|round}}</li>
                                {% endfor %}
                            </ul>
                                </small>

                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>