/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer img {
  filter: saturate(0);
}

.navbar {
  margin-bottom: 2rem;
}

.navbar-light {
  background-color: #1ED760;
}

.btn-login {
  background-color: #000000;
  color: #1ED760;
}

.btn-form {
  background-color: #000000;
  color: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
  /*font-size: 48px;*/
}

.disabled #vmap {
  display:none;
}

#results {
  margin-top: 5px;
}

.jumbotron {
  text-align: center;
}

/* TODO: udelat odsazeni dole na strance */
#content {
  padding-bottom: 10px;
}
